name: Build with GHA

on:
    push:
         branches:
          - main 	
    workflow_dispatch:
env:
    artifact_version: 1.0.0
permissions:
      id-token: write
      contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Compile Code
        run: echo "Compiling...."

      - name: Produce Binary
        run: sleep 5

      - name: Push binary
        run: echo "Pushing Binary to ECR..."

      - name: Register Build Artifacts in Cloudbees Platform
        uses: cloudbees-io-gha/register-build-artifact@v3
        id: go-action
        with:
          name: "Frontend-GHA"
          version: ${{ env.artifact_version }}
          url: docker.io/MyApp/Frontend-GHA:${{ env.artifact_version }}
          type: "docker"
          
      - name: Publish evidence
        uses: cloudbees-io-gha/publish-evidence-item@v2
        with:
          content: |-
            Build Completed and artifacts published to Cloudbees platform

  test:
    runs-on: ubuntu-latest
    needs: [build]   # Depends on 'build' job
    steps:
      - name: Run tests
        run: echo "Running Tests..."

      - name: Checkout to Collect Test Results
        uses: actions/checkout@v3

      - name: Publish Test Results in Cloudbees Plaform
        uses: cloudbees-io-gha/publish-test-results@v2
        with:
          test-type: GO
          results-path: test_reports/*
          cloudbees-pat: ${{ secrets.CBP_PAT_PROD }}
          
      - name: Publish evidence
        uses: cloudbees-io-gha/publish-evidence-item@v2
        with:
          content: |-
            Testing Completed and results published to Cloudbees platform
            Test | Results |
            --------|---------|
            Test 1 | PASS |
            Test 2 | FAIL |
            Test 3 | PASS |
